* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  height: 3rem;
  background-color: green;
}

header div img {
  height: 1.4rem;
  margin-top: 0.8rem;
  margin-left: 40%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

header div img:hover {
  transform: rotate(-90deg);
}

ul li a {
  color: rgb(195, 195, 1);
  text-decoration: none;
}

.topmenu {
  margin-left: 93%;
  position: relative;
}

ul {
  position: absolute;
  top: 100%;
  list-style: none;
  text-align: right;
  background-color: green;
  display: none;
}

ul li {
  margin: 0.9rem;
}

.topmenu img:hover + ul,
.topmenu ul:hover {
  display: block;
}
